* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;         
}

html {
    --action-porple-ligth-primary:  #485EDB;
    --action-porple-ligth-Secondary: #3B4686;
    --action-porple-ligth-Tertiary: #05104F;
    --action-green-ligth-primary: #48DB5C;
    --action-green-ligth-Secondary: #3B8645;
    --action-green-ligth-Tertiary: #054F0F;
    --background-liht-Primary: #FFFFFF;
    --background-liht-Secondary: #EBEBEB;
    --background-liht-Tertiary: #D7D7D7;
    --background-liht-Quaternary: #C3C3C3;
    --labes-liht-Primary: #000000;
    --labes-liht-Secondary: #282828;
    --labes-liht-Tertiary: #3C3C3C;
    --labes-liht-Quaternary: #505050;
    --card-serve-bacground: #131313;
   
   scroll-behavior: smooth;

    /* 1rem = 16px (user Agent) = 100% (User Agent)*/
    font-size: 62.5%; /* 10px */
    
}

body {
    background-color: var(--labes-liht-Primary);
}

img {
    width: 100%;
} 

.container {
    margin: 0 2.4rem;

    min-width: 30rem;
    max-width: 112rem;
}

@media (min-width: 1200px) {
    .container {
        margin: 0 auto;
    }
}



.divide1 {
    width: 100%;
    height: .1rem;
    background: linear-gradient(270deg, 
    var(--action-green-ligth-Secondary) 0%, 
    var(--action-porple-ligth-Secondary) 100%);
}

.divide2 {
    width: 100%;
    height: .1rem;
    background: linear-gradient(270deg, 
    var(--action-porple-ligth-Secondary)  0%, 
    var(--action-green-ligth-Secondary) 100%);
}
    

.btn {
    text-decoration: none;
    padding: 2.0rem 5.0rem;
    font-size: 1.6rem;
    font-family: Poppins;
}

.title {
    font: 700 3.0rem 'Poppins', sans-serif;
    color: var(--background-liht-Primary);
    --webkit-font-smoothing: auto;
}
/*=====================HEADER=========================*/

header {
    width: 100%;
    height: auto;
    position: fixed;
    color: #FFFFFF;
    background-color: var(--labes-liht-Primary);
}


header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--labes-liht-Primary);
    padding: 1.6rem;

}

.logo img {
    height: 3.2rem;
}



nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color .3s;
    position: relative;
}

nav ul li a:hover, 
nav ul li a:active {
    color: var(--action-porple-ligth-Secondary);
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: .2rem;
    background-color: var(--action-porple-ligth-Secondary);

    position: absolute;
    left: 0;
    bottom: -2.4rem;

    transition: width .3s;
}

nav ul li a:hover::after {
    width: 100%;
}

nav .menu {
    opacity: 0;
    visibility: hidden;

    top: -32rem;

    transition: 0.3s;
}

nav .menu ul {
    display: none;
}

nav.show .menu {
    opacity: 1;
    visibility: visible;

    background-color: var(--labes-liht-Primary);
    
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}



nav.show ul {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

/*===========================Toggle======================*/
.toggle {
    width: 2.4rem;
    cursor: pointer;
}
nav .close {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    top: -2.4rem;
    right: 2.4rem;

    transition: .2s;
}

nav.show .close {
    visibility: visible;
    top: 2.4rem;
    opacity: 1;
}

@media (min-width: 1200px) {
    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        display: flex;
        gap: 3.2rem;
    }

    nav .menu ul li a {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 100%;
    }

    nav .open {
        display: none;
    }
}


/*=====================BANNER=========================*/
.banner{
    background-image: url('../img/bg-hero.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .container {
    padding: 15rem 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 3.2rem;
    height: 100vh;

}

.banner .container .text-hero {
    min-width: 30.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .container .text-hero h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 4.0rem;
    margin-bottom: 1.6rem;

    color: var(--background-liht-Primary);
}

.banner .container .text-hero span {
    color: var(--action-green-ligth-primary);
}
.banner .container .text-hero p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 4.7rem;


    color: var(--background-liht-Secondary) ;
}

.banner .container .text-hero a img {
    width: 2.4rem; 
    margin-right: 1.6rem;
}

.banner .container .text-hero .btn-hero {
    border-radius: .8rem;
    padding: 1.5rem 6.4rem;

    color: var(--background-liht-Primary);
    background-color: var(--action-porple-ligth-Secondary);
    transition: 0.3s;max-width: 31.8rem;
    border-radius: .8rem;
    padding: 1.5rem 6.4rem; 
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--background-liht-Primary);
    background-color: var(--action-porple-ligth-Secondary);
    transition: 0.3s;
}

.banner .container .text-hero .btn-hero:hover {
    background-color: var(--action-porple-ligth-Tertiary);
}

.banner .container .img-hero {

    min-width: 30.5rem;
    display: none;
}

.banner .container .img-hero img {
    width: 100%;
    opacity: 0;
}

@media (min-width: 768px) {
.banner .container .text-hero h1 {
        font-size: 8.2rem;
        line-height: 10rem;
        margin-bottom: 3.2rem
    }
}

@media (min-width: 1200px) {
    .banner {
        background-image: none;
    }

    .banner .container {
        padding: 8.0rem 0;
        flex-direction: row;
    }

    .banner .container .text-hero {
        align-items: flex-start;
        text-align: start;
        max-width: 54.4rem;
    }

    .banner .container .text-hero h1 {
        font-size: 5.8rem;
        line-height: 5.8rem;
        margin-bottom: 3.2rem;
    }

    .banner .container .img-hero {
        display: block;
    }

    .banner .container .img-hero img {
        width: 100%;
        opacity: 1;
    }
}

/*ABOUT*/
.about .container {
    padding: 10rem 0;
    min-width: 30.5rem;    
    
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.about .container .img-about {
    min-width: 30.5rem;
}

.about .container .img-about img {
    width: 100%;
}

.about .container .text-about {
    min-width: 305px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .container .text-about .divide {
    width: 10rem;
    height: .4rem;
    margin-bottom: 1.6rem;
    background-color: var(--action-green-ligth-primary);
}

.about .container .text-about h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4.0rem;
    line-height: 4.0rem;
    margin-bottom: 1.6rem;

    color: var(--background-liht-Primary) ;
}

.about .container .text-about p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 3.0rem;
    margin-bottom: 4.7rem;

    color: var(--background-liht-Secondary) ;
}

.about .container .text-about a img {
    width: 2.4rem; 
    margin-right: 1.6rem;
}

.about .container .text-about .btn-about {
    max-width: 31.8rem;
    border-radius: .8rem;
    padding: 1.5rem 6.4rem; 
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--background-liht-Primary);
    background-color: var(--action-porple-ligth-Secondary);
    transition: 0.3s;
}

.about .container .text-about .btn-about:hover {
    background-color: var(--action-porple-ligth-Tertiary);
}


@media (min-width: 1200px) {
    .about .container {
        flex-direction: row;
    }

    .about .container .text-about {
        max-width: 54.4rem;
        text-align: start;
    
        align-items: flex-start;
    }
}

/*SERVICE*/
.service .container{
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
}

.service .container h2 {
    grid-area: title;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 4.0rem;
    margin-bottom: 5.6rem;

    color: var(--background-liht-Primary) ;
}

.service .container h2 span {
    color: var(--action-porple-ligth-primary);
}

.service .container .cards .card h3{
    grid-area: title;
    
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.0rem;
    margin-bottom: 1.6rem;
    
    color: var(--background-liht-Primary) ;
}

.service .container .cards .card ul {
    padding-left: 2.5rem ;
    margin-bottom: 1.6rem;
}


.service .container .cards .card ul li{
    grid-area: title;
    list-style: url('img/liststile.svg');
    
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.8rem;
    line-height:2.8rem;
    
    color: var(--background-liht-Secondary) ;
}

.service .container .cards {
    display: grid;
    gap: 3.2rem;
}

.service .container .cards  .card#serv1 h3{ 
    color: var(--action-green-ligth-primary);
}

.service .container .cards  .card#serv2 h3{ 
    color: var(--action-green-ligth-primary);
}

.service .container .cards  .card#serv3 h3{ 
    color: var(--action-green-ligth-primary);
}

.service .container .cards  .card { 
    padding: 3.2rem;
    background-color: var(--card-serve-bacground);
}


.service a {
    grid-area: link;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 150%;

    color: var(--action-porple-ligth-Secondary);
}

@media (min-width: 1200px) {
    .service .container .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*PORTIFOLIO*/
.portifolio .container {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
}

.portifolio .container .text-port {
    grid-area: text-port;
}

.portifolio .container h2 {
    grid-area: title-p;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 4.0rem;
    margin-bottom: 1.6rem;

    color: var(--background-liht-Primary) ;

}

.separator {
    width: 10rem;
    height: .4rem;
    margin-bottom: 1.6rem;
    background-color: var(--action-porple-ligth-Secondary);
}

.portifolio .container p {
    grid-area: p-p;

    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.8rem;
    margin-bottom: 1.6rem;

    color: var(--background-liht-Secondary) ;
}

.portifolio .container .card-p {
    min-width: 30.5rem;
}

.portifolio .container .card-p1 {
    grid-area: card-p1;
}

.portifolio .container .card-p2 {
    grid-area: card-p2;
}

.portifolio .container .card-p3 {
    grid-area: card-p3;
}
.portifolio .container .card-p4 {
    grid-area: card-p4;
}

.portifolio .container .card-p h3 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin: 1.6rem 0;

    color: var(--background-liht-Primary) ;
}

@media (min-width: 768px) {
    .portifolio .container .cards {
        display: grid;
        gap: 3.2rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'card-p1 card-p2''card-p3 card-p4';
    }
}


/*CONTACTO*/

.contacto .container {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.contacto .container .text-contact {
    max-width: 54.4rem;
}

.contacto .container .text-contact h2 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 4.0rem;
    margin-bottom: 1.6rem;

    color: var(--action-porple-ligth-Secondary) ;
}

.contacto .container p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.8rem;

    color: var(--background-liht-Secondary) ;
}

.contacto .container .text-contact p {
    
    margin-bottom: 4.7rem;
}

.contacto .container .text-contact a img {
    width: 2.4rem; 
    margin-right: 1.6rem;
}

.contacto .text-contact .btn-contact {
    max-width: 31.8rem;
    border-radius: .8rem;
    padding: 1.5rem 6.4rem; 
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--background-liht-Primary);
    background-color: var(--action-green-ligth-Secondary);
    transition: 0.3s;
}

.contacto .text-contact .btn-contact:hover {
    background-color: var(--action-green-ligth-Tertiary);
}

.contacto .container .contactos {
    min-width: 30.5rem;
    max-width: 54.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto .container .contactos img {
    width: 2.4rem; 
    margin-right: 1.6rem;
}

.contacto .container .contactos p {
    margin-bottom: 2.4rem;
}

@media (min-width: 1200px) {
    .contacto .container {
        flex-direction: row;
    }
}

footer .container {
    padding: 8.0rem 0;
    
    display: flex; 
    flex-direction: column;
    gap: 3.2rem;
}

footer .container .text-footer {
    max-width: 54.4rem;
}

footer .text-footer img {
    max-width: 8.5rem;
    margin-bottom: 3.2rem;

}

footer .text-footer p {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 3.8rem;

    color: var(--background-liht-Secondary) ;
}


footer .container .social-media {
    max-width: 54.4rem;

    display: flex;
    gap: 3.2rem;
    align-items: center;
}

@media (min-width: 1200px) {
    footer .container {
    flex-direction: row;
    justify-content: space-between;
    }

    footer .container .social-media {
        justify-content: flex-end;
        max-width: 54.4rem;
    }
}

